[submodule "SyncFiles"]
	path = SyncFiles
	url = ./SyncFiles
[submodule "DiskUsage"]
	path = DiskUsage
	url = ./DiskUsage
[submodule "Ed"]
	path = Ed
	url = ./Ed
[submodule "Less"]
	path = Less
	url = ./Less
[submodule "Diskusage"]
	path = Diskusage
	url = ./Diskusage
